header {
    max-width: 100%;
    height: 10vh;
    background-color: #4c0278;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
}

.header-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo-container {
    height: 80px;
    display: flex;
    padding: 0 ;
    margin: 0 0 0 0;
    align-items: center;
    justify-content: center;
}

.header-section img {
    height: 50%;
}

.logo-app {
    color: #fefefe;
    font-size: 1.1rem;
}

.hamburguer-item {
    display: none;
}

.nav-bar ul {
    display: flex;
    gap: 20px;

}

@media only screen and (max-width: 768px) {

    .hamburguer-item {
        display: block;
        cursor: pointer;
    }

    .hamburguer-item .line {
        width: 30px;
        height: 2px;
        background: #fefefe;
        margin: 6px 0;

    }

    .nav-bar {
        position: absolute;
        top: -450px;
        left: 0;
        right: 0;
        width: 100%;
        height: 450px;
        background: #400267;
        transition: 0.3s;
        overflow: hidden;
        z-index: -1;
    }

    .nav-bar.active {
        top: 10vh;
    }


    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 110px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li h4 {
        margin: 0 0 15px 0;
    }

    .nav-bar ul li h4:hover {
        color: #1c1c1c;
        background: #fefefe;
        font-weight: 300;
    }

    .nav-bar ul li h4.active {
        color: #1c1c1c;
        background: #fefefe;
    }

}

@media  (min-width: 1100px) {

    header {
        padding: 0 80px;
    }
}



@media (min-width: 1320px) {

    header {
        padding: 0 160px;
    }
    
   

}