.soul-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: rgb(218, 108, 45);
    width: 100%;
    gap: 100px;
}

.soul-nav-container{
    display: block;
    margin: 0 0 0 0;
    
}
.soul-nav-container h2{
    color: aliceblue;
}
.nav-items-container{
    display: flex;
    align-items: center;
    justify-content: center;
}