.nav-bar ul li h4 {
    display: block;
    color: #ededed;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 3px 7px;
    border-radius: 3px;
}
.nav-bar ul {
    list-style: none;
}

.nav-bar ul li h4:hover {
    color: #383838;
    background: #fefefe;
}

.nav-bar ul li h4.active {
    color: #2b2b2b;
    background: #fefefe;
}



